<header>
  <div class="hero-navigation container-fluid">
    <nav class="hero-navigation-container container">
      <div class="brand-logo">
        <a href="#"
          ><img src="../../assets/Grossify_ business logo.png" alt=""
        /></a>
      </div>
      <div class="navigation-links">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">How it Works</a></li>
          <li><a href="#">Login/SignUp</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
