$base-color: #f05e3c;
$secondary-color: white;
$third-color: rgba(45, 40, 39, 0.77);
$base-background-image: linear-gradient(
  to bottom,
  #2c1a55,
  #4f1b55,
  #6c1e52,
  #82264c,
  #943544,
  #9e3c41,
  #a7453d,
  #af4e39,
  #b84e37,
  #c04e35,
  #c94d33,
  #d14d30
);

//underline element
.title-underline {
  display: flex;
  justify-content: center;
  .main-content-title-underline {
    border: 1px solid #f05e3c;
    width: 17rem;
    text-align: center;
  }
}
//Special text-for main-banner
h1.special-title-text {
  font-size: 8rem;
  font-weight: 900;
  border-bottom: 0.6rem dotted $secondary-color;
  //   border-bottom: 0.5rem dotted $base-color;
  //   font-size: 72px;
  background: -webkit-linear-gradient($base-color, $base-color);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  width: 100%;
  text-shadow: 0.04em 0.04em 0 #ffffffd9;
  text-transform: capitalize;
}

header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 300;
  nav {
    // background-color: rgba(99, 88, 88, 0.651);
    background-color: rgba(212, 205, 205, 0.18);
    background-color: rgba(45, 40, 39, 0.35);
    background-color: rgba(45, 40, 39, 0.56);
    height: 5rem;
    align-items: center;
    padding: 0.5rem 4rem;
    .navbar-brand img {
      width: 9.3rem;
    }
    .header-menu {
      display: flex;
      justify-content: flex-end;
      ul li {
        a {
          padding: 1rem;
          color: $base-color;
          text-decoration: none;
          font-weight: 600;
          font-size: 1rem;
          &:hover {
            color: $secondary-color;
          }
        }
        a.active-nav {
          color: $secondary-color;
          padding-bottom: 0.5rem;
          // border-bottom: 3px solid $base-color;
        }
      }
      .header-link-seperator {
        margin: auto 0.5rem;
        // border-left:1px solid white;
        height: 1.01rem;
        width: 0.0625rem;
        background-color: $base-color;
      }      
    }
  }
}

.hero-navigation{
  position: sticky;
  top: 0;
  z-index: 500;
  .hero-navigation-container{

  }
}