<section class="footer" id="aboutus">
  <div class="row">
    <div class="col-12 footer-container">
      <div class="row align-items-between">
        <div class="brand-logo col-12 col-md">
          <a href="/"
            ><img src="../../assets/Grossify_ business logo.png" alt=""
          /></a>
        </div>
        <div class="footer-links col-12 col-md">
          <h3>General</h3>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Report Problem</a></li>
            <li><a href="#">For the Record</a></li>
          </ul>
        </div>
        <div class="footer-links col-12 col-md">
          <h3>Connect</h3>
          <ul>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Carrer</a></li>
            <li><a href="#">Developers</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
        <div class="footer-links col-12 col-md">
          <h3>Legal</h3>
          <ul>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Accessibility</a></li>
            <!-- <li><a href="#">Site Map</a></li> -->
          </ul>
        </div>
        <div class="social-links col-12 col-md">
          <h3>Social Links</h3>
          <ul>
            <li>
              <a href="https://facebook.com/grossifyin">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/grossifyin">
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://instagram.com/grossifyin">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
          <div class="download-app">
            <a routerLink="download"
              ><button class="btn btn-apple btn-outline-light">
                Download App
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright col-12">
      <p>© 2020, All rights reserved</p>
    </div>
  </div>
</section>
