<section class="class-navbar">
  <div class="navbar-for">
    <div class="hero-navigation" id="navbarsdsd">
      <nav class="hero-navigation-container container" id="navbar">
        <div class="brand-logo">
          <a href="#"
            ><img src="../../assets/Grossify_ business logo.png" alt=""
          /></a>
        </div>
        <div class="navigation-links">
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">How it Works</a></li>
            <li><a routerLink="/signup">SignUp</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <section class="hero container-fluid" id="home">
    <!-- <div class="hero-navigation"  >
      <nav class="hero-navigation-container container"id="navbar" >
        <div class="brand-logo">
          <a href="#"
            ><img src="../../assets/Grossify_ business logo.png" alt=""
          /></a>
        </div>
        <div class="navigation-links">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">How it Works</a></li>
            <li><a routerLink="/signup">Login/SignUp</a></li>
          </ul>
        </div>
      </nav>
    </div> -->

    <div class="hero-contents">
      <div class="image-contnet">
        <img
          class="img-fluid"
          src="../../assets/svg/onling shoping background11.svg"
          alt=""
        />
      </div>
      <div class="text-content">
        <div class="hero-title-text">
          <h1>
            <!-- Sell What you Have in your store. -->
            Setup Your Own Digital Store.
          </h1>
          <p>
            Start selling to the wide-ranging users digitally. Start by siging
            up with Grossify Buisness.It will take care all of your hard work
            for you.
          </p>
        </div>
        <div class="hero-title-button">
          <a routerLink="/download"
            ><button class="btn btn-outline-light btn-lg">Enroll Now</button></a
          >
        </div>
      </div>
    </div>
  </section>
</section>

<section class="welcome-to-gb container">
  <div class="welcome-container">
    <h1>
      Welcome to <br />
      <span class="special-title-text">Grossify Buisness</span>
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, quos,
      natus dolorem amet veritatis magni, quisquam in placeat doloribus
      blanditiis quasi voluptates voluptatum quidem pariatur quod. Sit sed
      doloribus ex.
    </p>
  </div>
</section>
<section class="features container-fluid">
  <div class="container">
    <h1>More than an Online Selling Platform</h1>
    <div class="feature-container container">
      <div class="row">
        <div class="col-sm-6 col-lg">
          <div class="feature">
            <div class="icon-container">
              <span class="icon">icon</span>
            </div>
            <h3>Feature Title</h3>
            <p>
              Feature Discription: Lorem ipsum dolor sit amet consectetur
              adipisicing elit.
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-lg">
          <div class="feature">
            <div class="icon-container">
              <span class="icon">icon</span>
            </div>
            <h3>Feature Title</h3>
            <p>
              Feature Discription: Lorem ipsum dolor sit amet consectetur
              adipisicing elit.
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-lg">
          <div class="feature">
            <div class="icon-container">
              <span class="icon">icon</span>
            </div>
            <h3>Feature Title</h3>
            <p>
              Feature Discription: Lorem ipsum dolor sit amet consectetur
              adipisicing elit.
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-lg">
          <div class="feature">
            <div class="icon-container">
              <span class="icon">icon</span>
            </div>
            <h3>Feature Title</h3>
            <p>
              Feature Discription: Lorem ipsum dolor sit amet consectetur
              adipisicing elit.
            </p>
          </div>
        </div>
      </div>
      <!-- <div class="feature col-sm-6 col-md-3">
        <div class="icon-container">
          <span class="icon">icon</span>
        </div>
        <h3>Feature Title</h3>
        <p>
          Feature Discription: Lorem ipsum dolor sit amet consectetur
          adipisicing elit.
        </p>
      </div>
      <div class="feature col-sm-6 col-md-3">
        <div class="icon-container">
          <span class="icon">icon</span>
        </div>
        <h3>Feature Title</h3>
        <p>
          Feature Discription: Lorem ipsum dolor sit amet consectetur
          adipisicing elit.
        </p>
      </div>
      <div class="feature col-sm-6 col-md-3">
        <div class="icon-container">
          <span class="icon">icon</span>
        </div>
        <h3>Feature Title</h3>
        <p>
          Feature Discription: Lorem ipsum dolor sit amet consectetur
          adipisicing elit.
        </p>
      </div>
      <div class="feature col-sm-6 col-md-3">
        <div class="icon-container">
          <span class="icon">icon</span>
        </div>
        <h3>Feature Title</h3>
        <p>
          Feature Discription: Lorem ipsum dolor sit amet consectetur
          adipisicing elit.
        </p>
      </div>  -->
    </div>
  </div>
</section>
<section class="how-it-works container">
  <div class="how-it-works-container">
    <h1>How to start selling?</h1>
    <p>
      brief description: Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Officia laboriosam, nostrum enim nisi illo id?
    </p>
    <div class="step">
      <h5>Step 1</h5>
      <br />
      <div class="step-image">
        <img
          class="img-fluid"
          src="../../assets/svg/undraw_sign_in_e6hj 1.svg"
          alt=""
        />
      </div>
      <div class="step-text">
        <h3>SignUp</h3>
        <p>
          This is your 1st step towards your new Business Journey. All you need
          to do is signup. Create your Grossify Account then you will become
          illegible to sell your products to the user.
        </p>
      </div>
    </div>
    <div class="step">
      <h5>Step 2</h5>
      <div class="step-text">
        <h3>Choose your Plan</h3>
        <p>
          Login with your created Account. Once you logged in youwill see all
          the feature that you are going to get.
        </p>
      </div>
      <div class="step-image">
        <img
          src="../../assets/svg/undraw_business_plan_5i9d.svg"
          alt=""
          class="img-fluid"
        />
      </div>
    </div>
    <div class="step">
      <h5>Step 3</h5>
      <div class="step-image">
        <img
          src="../../assets/svg/undraw_web_shopping_dd4l 1.svg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="step-text">
        <h3>Sell</h3>
        <p>
          Use your sell panel to upload your product and send product to the
          nearest grossify store for quality checking procedure. if your
          products fullfill all the neccesary requirements you'll be able to
          sell.
        </p>
      </div>
    </div>
    <div class="step">
      <h5>Step 4</h5>
      <div class="step-image">
        <img
          src="../../assets/svg/undraw_Savings_dwkw 1.svg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="step-text">
        <h3>Get Paid</h3>
        <p>
          Now your work is almost complete. you'll get your payment whenever
          users buys your items
        </p>
      </div>
    </div>
  </div>
</section>
<section class="pricing">
  <div class="container">
    <div class="pricing-container">
      <h1>Choose a Plan</h1>
      <div class="pricing-plans row">
        <div class="col-md-10 col-lg">
          <div class="pricing-plan">
            <h5>Basic</h5>
            <p>
              ₹125 <span class="small-text"> <br />/month </span>
            </p>

            <!-- <hr> -->
            <div class="pricing-plan-feature">
              <ul>
                <li>
                  <img src="../../assets/svg/Vector.svg" alt="" />
                  <p>Unlimited Orders</p>
                </li>
                <li>
                  <img src="../../assets/svg/Vector.svg" alt="" />
                  <p>500 Products</p>
                </li>
                <li>
                  <img src="../../assets/svg/Vector.svg" alt="" />
                  <p>Verified Seller</p>
                </li>
                <li>
                  <img src="../../assets/svg/Vector.svg" alt="" />
                  <p>24/7 supports</p>
                </li>
              </ul>
            </div>
            <button class="pricing-button btn btn-outline-danger">
              Get started
            </button>
          </div>
        </div>
        <div class="col-md-10 col-lg">
          <div class="pricing-plan">
            <h5>Standard</h5>
            <p>
              ₹499 <span class="small-text"> <br />/month </span>
            </p>

            <!-- <hr> -->
            <div class="pricing-plan-feature">
              <ul>
                <li>
                  <img src="../../assets/svg/Vector.svg" alt="" />
                  <p>Unlimited Orders</p>
                </li>
                <li>
                  <img src="../../assets/svg/Vector.svg" alt="" />
                  <p>500 Products</p>
                </li>
                <li>
                  <img src="../../assets/svg/Vector.svg" alt="" />
                  <p>Verified Seller</p>
                </li>
                <li>
                  <img src="../../assets/svg/Vector.svg" alt="" />
                  <p>24/7 supports</p>
                </li>
              </ul>
            </div>
            <button class="pricing-button btn btn-outline-danger" disabled>
              Coming Soon
            </button>
          </div>
        </div>
        <div class="col-md-10 col-lg">
          <div class="pricing-plan">
            <h5>Enterprise</h5>
            <p>
              ₹999 <span class="small-text"> <br />/month </span>
            </p>

            <!-- <hr> -->
            <div class="pricing-plan-feature">
              <ul>
                <li>
                  <img src="../../assets/svg/Vector.svg" alt="" />
                  <p>Unlimited Orders</p>
                </li>
                <li>
                  <img src="../../assets/svg/Vector.svg" alt="" />
                  <p>Unlimited Products</p>
                </li>
                <li>
                  <img src="../../assets/svg/Vector.svg" alt="" />
                  <p>Verified Seller</p>
                </li>
                <li>
                  <img src="../../assets/svg/Vector.svg" alt="" />
                  <p>24/7 supports</p>
                </li>
              </ul>
            </div>
            <button class="pricing-button btn btn-outline-danger" disabled>
              Coming Soon
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="offers">
  <div class="container">
    <div class="row offers-container">
      <div class="col-3">
        <div class="side-content-offer">
          <div class="box-offer">
            <h5>Offer Title!!</h5>
            <p>
              Offer Desctiption: Lorem ipsum dolor sit, amet consectetur
              adipisicing elit. Eos ab voluptates cupiditate cumque corrupti
              magnam adipisci voluptatum consectetur dolor aspernatur.
            </p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="center-content-offer">
          <div class="button-offer-details">
            <button class="btn btn-outline-primary">More Details</button>
            <br />
            <br />
            <button class="btn btn-outline-primary">Start 1 Month Free Trial</button>
            <div class="offers-text-info">
              <h5>New Accounts:No Obligations, No Card Required</h5>
              <p>30 days money back guarantee</p>
            </div>
          </div>
          <div class="money-back">
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci
              illum voluptatem aliquam ratione assumenda provident?
            </p>
          </div>
        </div>
      </div>

      <!-- <div class="money-back">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam
          laboriosam provident at distinctio dignissimos ratione, voluptate
          quidem dolore omnis nobis numquam natus minima consectetur!
        </p>
      </div> -->
      <div class="col-3">
        <div class="side-content-offer">
          <div class="box-offer">
            <h5>Offer Title!!</h5>
            <p>
              Offer Desctiption: Lorem ipsum dolor sit, amet consectetur
              adipisicing elit. Eos ab voluptates cupiditate cumque corrupti
              magnam adipisci voluptatum consectetur dolor aspernatur.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="client-says">
  <div class="container">
    <div class="row client-says-container">
      <div class="col-12 client-says-heading">
        <h1>Client Reviews</h1>
        <div class="title-underline">
          <span class="main-content-title-underline"></span>
        </div>
      </div>
      <div class="col-md-3 client-says-content">
          <span class="quote-for-seller">❝</span>
          <p>
            Nice application for selling local store products. I am selling more
            items digitally through Grossify.
          </p>
          <div class="client-details">
            <div class="client-image">
              <img
                class="img-fluid"
                src="../../../assets/store-image.jpg"
                alt=""
              />
            </div>
            <div class="client-details-text">
              <h5>Radhika Supermarket</h5>
              <p>Local Store</p>
            </div>
          </div>
      </div>
      <!-- <div class="client-says-seperator"></div> -->
      <div class="col-md-3 offset-md-1 client-says-content client-says-seperator">
        <!-- <hr role="separator"> -->
        <span class="quote-for-seller">❝</span>
        <p>
          This app is very helpful for us to get more customers from more
          places.
        </p>
        <div class="client-details">
          <div class="client-image">
            <img
              class="img-fluid"
              src="../../../assets/kirana_store.jpg"
              alt=""
            />
          </div>
          <div class="client-details-text">
            <h5>Maharashtra Kirana</h5>
            <p>Local Kirana Store</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 offset-md-1 client-says-content client-says-seperator">
        <span class="quote-for-seller">❝</span>
        <p>
          We are selling more local products and groceries using this app. Easy
          to use and simple.
        </p>
        <div class="client-details">
          <div class="client-image">
            <img
              class="img-fluid"
              src="../../../assets/grocier_image.jpg"
              alt=""
            />
          </div>
          <div class="client-details-text">
            <h5>Sandip Supermarket</h5>
            <p>Local Super Market</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="main-content-section container" id="features">
  <div class="row">
    <div class="main-content col-12">
      <div class="col-12 main-content-title">
        <h1>Why Grossify Business?</h1>
      </div>
      <div class="title-underline">
        <span class="main-content-title-underline"></span>
      </div>
      <div class="main-content-panel row">
        <div class="content-feature col-12 col-md">
          <div class="feature-image-icons">
            <span class="material-icons">
              storefront
            </span>
          </div>
          <h3>Digital Marketing Solution</h3>
          <p>
            now, you don't have to worry about how to reach consumer and sell
            your products.
          </p>
        </div>

        <div class="content-feature col-12 col-md">
          <div class="feature-image-icons">
            <span class="material-icons">
              check_box
            </span>
          </div>
          <h3>Grow Your Business</h3>
          <p>
            With Grossify Business you can grow your small business to large
            scale business.
          </p>
        </div>

        <div class="content-feature col-12 col-md">
          <div class="feature-image-icons">
            <span class="material-icons">
              local_shipping
            </span>
          </div>
          <h3>Maximize Your Profit</h3>
          <p>
            You can maximize your profit with our various marketing strategy
            which ensures your profits are maximized.
          </p>
        </div>

        <div class="content-feature col-12 col-md">
          <div class="feature-image-icons">
            <span class="material-icons">
              cached
            </span>
          </div>
          <h3>Easy Business</h3>
          <p>
            Do Easy Business with us. now your don't need to worry about work
            place, It's all Digital.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="avaliable-download-business" id="seller-app">
  <div class="container">
    <div class="avaliable-download-container">
      <div class="avaliable-download-text">
        <h1>
          Grossify :
          <br />
          The Seller App
          <div class="title-underline">
            <span class="main-content-title-underline"></span>
          </div>
        </h1>

        <p>
          Sell Your Local Products Directly to Nearby Local Stores. With
          Grossify Expand Your Buisness Digitally and Your Profit.
        </p>
        <div class="download-app">
          <h4>
            Download App
            <div class="title-underline">
              <span class="main-content-title-underline"></span>
            </div>
          </h4>
          <div class="download-image">
            <!-- <a href="#">
                <img src="../../../assets/playstore.png" alt="" />
              </a> -->
            <a
              href="https://play.google.com/store/apps/details?id=in.grossify.grossifyapp&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
              ><img
                alt="Get it on Google Play"
                src="../../../assets/playstore.png"
            /></a>
          </div>
        </div>
      </div>
      <div class="avaliable-download-image">
        <img class="img-fluid" src="../../../assets/web page.png" alt="" />
      </div>
    </div>
  </div>
</section>